.ff0{font-family:sans-serif;visibility:hidden;}
.sc_{text-shadow:none;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
}
.y2{bottom:5.500000px;}
.y3{bottom:6.000000px;}
.y1{bottom:6.500000px;}
.y4{bottom:7.000000px;}
.y6{bottom:7.500000px;}
.y7{bottom:8.000000px;}
.y5{bottom:8.500000px;}
.y0{bottom:21.500000px;}
.h1{height:770.000000px;}
.h6{height:775.000000px;}
.h8{height:776.000000px;}
.h7{height:777.000000px;}
.h5{height:778.000000px;}
.h2{height:779.000000px;}
.h4{height:780.000000px;}
.h3{height:781.000000px;}
.h0{height:792.000000px;}
.wb{width:601.000000px;}
.wa{width:601.500000px;}
.w7{width:602.000000px;}
.w8{width:602.500000px;}
.w2{width:603.000000px;}
.w6{width:603.500000px;}
.w4{width:604.000000px;}
.w9{width:604.500000px;}
.w5{width:605.000000px;}
.w3{width:606.000000px;}
.w1{width:609.500000px;}
.w0{width:612.000000px;}
.x0{left:1.500000px;}
.x2{left:3.000000px;}
.x1{left:4.500000px;}
@media print{
.y2{bottom:7.333333pt;}
.y3{bottom:8.000000pt;}
.y1{bottom:8.666667pt;}
.y4{bottom:9.333333pt;}
.y6{bottom:10.000000pt;}
.y7{bottom:10.666667pt;}
.y5{bottom:11.333333pt;}
.y0{bottom:28.666667pt;}
.h1{height:1026.666667pt;}
.h6{height:1033.333333pt;}
.h8{height:1034.666667pt;}
.h7{height:1036.000000pt;}
.h5{height:1037.333333pt;}
.h2{height:1038.666667pt;}
.h4{height:1040.000000pt;}
.h3{height:1041.333333pt;}
.h0{height:1056.000000pt;}
.wb{width:801.333333pt;}
.wa{width:802.000000pt;}
.w7{width:802.666667pt;}
.w8{width:803.333333pt;}
.w2{width:804.000000pt;}
.w6{width:804.666667pt;}
.w4{width:805.333333pt;}
.w9{width:806.000000pt;}
.w5{width:806.666667pt;}
.w3{width:808.000000pt;}
.w1{width:812.666667pt;}
.w0{width:816.000000pt;}
.x0{left:2.000000pt;}
.x2{left:4.000000pt;}
.x1{left:6.000000pt;}
}
