.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:0.729492;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:0.666504;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:0.922363;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff4;src:url(f4.woff)format("woff");}.ff4{font-family:ff4;line-height:0.666504;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff5;src:url(f5.woff)format("woff");}.ff5{font-family:ff5;line-height:0.666504;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff6;src:url(f6.woff)format("woff");}.ff6{font-family:ff6;line-height:0.666504;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff7;src:url(f7.woff)format("woff");}.ff7{font-family:ff7;line-height:0.666504;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff8;src:url(f8.woff)format("woff");}.ff8{font-family:ff8;line-height:0.936035;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.v0{vertical-align:0.000000px;}
.ls0{letter-spacing:0.000000px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
._a{margin-left:-2065.943861px;}
._8{width:10.974935px;}
._7{width:12.122681px;}
._9{width:13.157934px;}
._10{width:24.947640px;}
._4{width:27.552000px;}
._d{width:28.679269px;}
._1{width:31.096531px;}
._0{width:32.178134px;}
._5{width:38.112000px;}
._6{width:55.872000px;}
._b{width:104.997465px;}
._f{width:111.407040px;}
._2{width:121.104731px;}
._3{width:122.112000px;}
._c{width:204.312000px;}
._e{width:1028.720139px;}
.fc0{color:rgb(0,0,0);}
.fs0{font-size:29.280000px;}
.fs2{font-size:32.160000px;}
.fs7{font-size:36.000000px;}
.fs4{font-size:39.840000px;}
.fs5{font-size:44.160000px;}
.fs3{font-size:48.000000px;}
.fs6{font-size:63.840000px;}
.fs1{font-size:144.000000px;}
.y46{bottom:0.000000px;}
.y47{bottom:45.000000px;}
.y0{bottom:47.500000px;}
.y30{bottom:67.000000px;}
.y2b{bottom:67.823900px;}
.y38{bottom:69.144100px;}
.y15{bottom:72.500000px;}
.y1d{bottom:74.784000px;}
.y51{bottom:79.823800px;}
.y20{bottom:82.500000px;}
.y2e{bottom:84.623800px;}
.y3b{bottom:86.000000px;}
.y2f{bottom:86.423800px;}
.y2a{bottom:86.423900px;}
.y29{bottom:105.020000px;}
.y28{bottom:123.739900px;}
.y1e{bottom:129.980000px;}
.y27{bottom:142.339900px;}
.y56{bottom:144.619400px;}
.y37{bottom:152.900000px;}
.y55{bottom:155.899500px;}
.y54{bottom:167.060000px;}
.y45{bottom:180.740000px;}
.y44{bottom:204.290000px;}
.y53{bottom:218.089640px;}
.y43{bottom:227.690000px;}
.y52{bottom:228.049800px;}
.y13{bottom:232.370000px;}
.y12{bottom:249.770000px;}
.y11{bottom:267.170000px;}
.y10{bottom:284.570000px;}
.yf{bottom:302.090000px;}
.y36{bottom:319.250000px;}
.ye{bottom:325.490000px;}
.y14{bottom:341.450000px;}
.yd{bottom:363.790000px;}
.yb{bottom:363.910000px;}
.y8{bottom:368.950000px;}
.y2d{bottom:373.510000px;}
.y2c{bottom:373.750000px;}
.y50{bottom:373.870000px;}
.y19{bottom:375.430000px;}
.y1f{bottom:376.390000px;}
.y3a{bottom:380.950000px;}
.yc{bottom:381.070000px;}
.ya{bottom:381.190000px;}
.y7{bottom:394.989700px;}
.y9{bottom:398.470000px;}
.y4f{bottom:404.830000px;}
.y6{bottom:421.510000px;}
.y4e{bottom:427.270000px;}
.y39{bottom:451.030000px;}
.y42{bottom:451.510000px;}
.y3c{bottom:452.350000px;}
.y41{bottom:475.030000px;}
.y35{bottom:495.070000px;}
.y40{bottom:498.430000px;}
.y26{bottom:536.979900px;}
.y4d{bottom:539.260000px;}
.y34{bottom:541.420000px;}
.y25{bottom:555.579900px;}
.y1c{bottom:564.100000px;}
.y33{bottom:572.380000px;}
.y24{bottom:574.179900px;}
.y32{bottom:587.740000px;}
.y1{bottom:590.860000px;}
.y3f{bottom:602.019900px;}
.y23{bottom:604.060000px;}
.y4c{bottom:616.540000px;}
.y3e{bottom:628.900000px;}
.y3{bottom:638.860000px;}
.y1b{bottom:641.380000px;}
.y4b{bottom:662.860000px;}
.y1a{bottom:664.900000px;}
.y22{bottom:681.460000px;}
.y2{bottom:682.780000px;}
.y4a{bottom:685.300000px;}
.y3d{bottom:686.020000px;}
.y31{bottom:687.460000px;}
.y18{bottom:728.760004px;}
.y49{bottom:729.239840px;}
.y16{bottom:736.560000px;}
.y17{bottom:736.799844px;}
.y48{bottom:737.400000px;}
.y4{bottom:738.719800px;}
.y5{bottom:738.840113px;}
.y21{bottom:739.560000px;}
.h2{height:20.444531px;}
.h4{height:24.120000px;}
.he{height:25.136719px;}
.h6{height:26.553516px;}
.hf{height:27.000000px;}
.ha{height:29.432812px;}
.h5{height:31.992188px;}
.hc{height:42.549609px;}
.h3{height:95.976562px;}
.h8{height:606.500000px;}
.hb{height:607.500000px;}
.h7{height:618.000000px;}
.h9{height:632.000000px;}
.h1{height:708.500000px;}
.hd{height:709.000000px;}
.h0{height:792.000000px;}
.w2{width:524.000000px;}
.w3{width:526.000000px;}
.w4{width:530.000000px;}
.w1{width:540.500000px;}
.w0{width:612.000000px;}
.x3a{left:0.000000px;}
.x0{left:36.000000px;}
.x25{left:41.000000px;}
.x34{left:46.320000px;}
.x1b{left:48.500000px;}
.x1a{left:55.320000px;}
.x28{left:58.320000px;}
.x5{left:70.344100px;}
.x1c{left:71.544100px;}
.x31{left:75.144100px;}
.x20{left:79.944100px;}
.x32{left:82.823800px;}
.x26{left:85.944100px;}
.x3b{left:88.223800px;}
.xb{left:90.023800px;}
.xc{left:98.544100px;}
.xd{left:100.100000px;}
.x22{left:101.420000px;}
.x2c{left:114.140000px;}
.x39{left:144.140000px;}
.x38{left:145.580000px;}
.x2b{left:164.300000px;}
.x3c{left:165.740000px;}
.x1e{left:192.410000px;}
.x9{left:200.450000px;}
.xa{left:215.450000px;}
.x1{left:217.130000px;}
.x37{left:228.770000px;}
.x2d{left:229.970000px;}
.x29{left:233.330000px;}
.x3d{left:281.210000px;}
.x7{left:283.969770px;}
.x6{left:287.810000px;}
.x15{left:324.790000px;}
.x14{left:333.550000px;}
.x1d{left:344.830200px;}
.x18{left:348.430000px;}
.x17{left:376.150000px;}
.x16{left:383.830000px;}
.x3e{left:389.710000px;}
.x19{left:397.750000px;}
.x1f{left:404.860000px;}
.x36{left:406.900000px;}
.x40{left:408.100000px;}
.x21{left:414.820000px;}
.x3f{left:424.660000px;}
.x2e{left:427.660000px;}
.x2f{left:432.340000px;}
.x2a{left:440.980000px;}
.x33{left:454.060000px;}
.xf{left:461.740000px;}
.x27{left:466.780000px;}
.xe{left:470.500000px;}
.x24{left:475.180000px;}
.x12{left:485.380000px;}
.x2{left:487.900000px;}
.x35{left:492.820000px;}
.x4{left:494.140100px;}
.x3{left:504.460000px;}
.x23{left:506.260000px;}
.x11{left:508.660000px;}
.x30{left:512.260000px;}
.x10{left:520.780000px;}
.x13{left:534.720000px;}
.x8{left:536.640000px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls0{letter-spacing:0.000000pt;}
.ws0{word-spacing:0.000000pt;}
._a{margin-left:-2754.591815pt;}
._8{width:14.633246pt;}
._7{width:16.163575pt;}
._9{width:17.543912pt;}
._10{width:33.263520pt;}
._4{width:36.736000pt;}
._d{width:38.239026pt;}
._1{width:41.462042pt;}
._0{width:42.904179pt;}
._5{width:50.816000pt;}
._6{width:74.496000pt;}
._b{width:139.996620pt;}
._f{width:148.542720pt;}
._2{width:161.472974pt;}
._3{width:162.816000pt;}
._c{width:272.416000pt;}
._e{width:1371.626852pt;}
.fs0{font-size:39.040000pt;}
.fs2{font-size:42.880000pt;}
.fs7{font-size:48.000000pt;}
.fs4{font-size:53.120000pt;}
.fs5{font-size:58.880000pt;}
.fs3{font-size:64.000000pt;}
.fs6{font-size:85.120000pt;}
.fs1{font-size:192.000000pt;}
.y46{bottom:0.000000pt;}
.y47{bottom:60.000000pt;}
.y0{bottom:63.333333pt;}
.y30{bottom:89.333333pt;}
.y2b{bottom:90.431867pt;}
.y38{bottom:92.192133pt;}
.y15{bottom:96.666667pt;}
.y1d{bottom:99.712000pt;}
.y51{bottom:106.431733pt;}
.y20{bottom:110.000000pt;}
.y2e{bottom:112.831733pt;}
.y3b{bottom:114.666667pt;}
.y2f{bottom:115.231733pt;}
.y2a{bottom:115.231867pt;}
.y29{bottom:140.026667pt;}
.y28{bottom:164.986533pt;}
.y1e{bottom:173.306667pt;}
.y27{bottom:189.786533pt;}
.y56{bottom:192.825867pt;}
.y37{bottom:203.866667pt;}
.y55{bottom:207.866000pt;}
.y54{bottom:222.746667pt;}
.y45{bottom:240.986667pt;}
.y44{bottom:272.386667pt;}
.y53{bottom:290.786187pt;}
.y43{bottom:303.586667pt;}
.y52{bottom:304.066400pt;}
.y13{bottom:309.826667pt;}
.y12{bottom:333.026667pt;}
.y11{bottom:356.226667pt;}
.y10{bottom:379.426667pt;}
.yf{bottom:402.786667pt;}
.y36{bottom:425.666667pt;}
.ye{bottom:433.986667pt;}
.y14{bottom:455.266667pt;}
.yd{bottom:485.053333pt;}
.yb{bottom:485.213333pt;}
.y8{bottom:491.933333pt;}
.y2d{bottom:498.013333pt;}
.y2c{bottom:498.333333pt;}
.y50{bottom:498.493333pt;}
.y19{bottom:500.573333pt;}
.y1f{bottom:501.853333pt;}
.y3a{bottom:507.933333pt;}
.yc{bottom:508.093333pt;}
.ya{bottom:508.253333pt;}
.y7{bottom:526.652933pt;}
.y9{bottom:531.293333pt;}
.y4f{bottom:539.773333pt;}
.y6{bottom:562.013333pt;}
.y4e{bottom:569.693333pt;}
.y39{bottom:601.373333pt;}
.y42{bottom:602.013333pt;}
.y3c{bottom:603.133333pt;}
.y41{bottom:633.373333pt;}
.y35{bottom:660.093333pt;}
.y40{bottom:664.573333pt;}
.y26{bottom:715.973200pt;}
.y4d{bottom:719.013333pt;}
.y34{bottom:721.893333pt;}
.y25{bottom:740.773200pt;}
.y1c{bottom:752.133333pt;}
.y33{bottom:763.173333pt;}
.y24{bottom:765.573200pt;}
.y32{bottom:783.653333pt;}
.y1{bottom:787.813333pt;}
.y3f{bottom:802.693200pt;}
.y23{bottom:805.413333pt;}
.y4c{bottom:822.053333pt;}
.y3e{bottom:838.533333pt;}
.y3{bottom:851.813333pt;}
.y1b{bottom:855.173333pt;}
.y4b{bottom:883.813333pt;}
.y1a{bottom:886.533333pt;}
.y22{bottom:908.613333pt;}
.y2{bottom:910.373333pt;}
.y4a{bottom:913.733333pt;}
.y3d{bottom:914.693333pt;}
.y31{bottom:916.613333pt;}
.y18{bottom:971.680005pt;}
.y49{bottom:972.319787pt;}
.y16{bottom:982.080000pt;}
.y17{bottom:982.399792pt;}
.y48{bottom:983.200000pt;}
.y4{bottom:984.959733pt;}
.y5{bottom:985.120151pt;}
.y21{bottom:986.080000pt;}
.h2{height:27.259375pt;}
.h4{height:32.160000pt;}
.he{height:33.515625pt;}
.h6{height:35.404688pt;}
.hf{height:36.000000pt;}
.ha{height:39.243750pt;}
.h5{height:42.656250pt;}
.hc{height:56.732813pt;}
.h3{height:127.968750pt;}
.h8{height:808.666667pt;}
.hb{height:810.000000pt;}
.h7{height:824.000000pt;}
.h9{height:842.666667pt;}
.h1{height:944.666667pt;}
.hd{height:945.333333pt;}
.h0{height:1056.000000pt;}
.w2{width:698.666667pt;}
.w3{width:701.333333pt;}
.w4{width:706.666667pt;}
.w1{width:720.666667pt;}
.w0{width:816.000000pt;}
.x3a{left:0.000000pt;}
.x0{left:48.000000pt;}
.x25{left:54.666667pt;}
.x34{left:61.760000pt;}
.x1b{left:64.666667pt;}
.x1a{left:73.760000pt;}
.x28{left:77.760000pt;}
.x5{left:93.792133pt;}
.x1c{left:95.392133pt;}
.x31{left:100.192133pt;}
.x20{left:106.592133pt;}
.x32{left:110.431733pt;}
.x26{left:114.592133pt;}
.x3b{left:117.631733pt;}
.xb{left:120.031733pt;}
.xc{left:131.392133pt;}
.xd{left:133.466667pt;}
.x22{left:135.226667pt;}
.x2c{left:152.186667pt;}
.x39{left:192.186667pt;}
.x38{left:194.106667pt;}
.x2b{left:219.066667pt;}
.x3c{left:220.986667pt;}
.x1e{left:256.546667pt;}
.x9{left:267.266667pt;}
.xa{left:287.266667pt;}
.x1{left:289.506667pt;}
.x37{left:305.026667pt;}
.x2d{left:306.626667pt;}
.x29{left:311.106667pt;}
.x3d{left:374.946667pt;}
.x7{left:378.626360pt;}
.x6{left:383.746667pt;}
.x15{left:433.053333pt;}
.x14{left:444.733333pt;}
.x1d{left:459.773600pt;}
.x18{left:464.573333pt;}
.x17{left:501.533333pt;}
.x16{left:511.773333pt;}
.x3e{left:519.613333pt;}
.x19{left:530.333333pt;}
.x1f{left:539.813333pt;}
.x36{left:542.533333pt;}
.x40{left:544.133333pt;}
.x21{left:553.093333pt;}
.x3f{left:566.213333pt;}
.x2e{left:570.213333pt;}
.x2f{left:576.453333pt;}
.x2a{left:587.973333pt;}
.x33{left:605.413333pt;}
.xf{left:615.653333pt;}
.x27{left:622.373333pt;}
.xe{left:627.333333pt;}
.x24{left:633.573333pt;}
.x12{left:647.173333pt;}
.x2{left:650.533333pt;}
.x35{left:657.093333pt;}
.x4{left:658.853467pt;}
.x3{left:672.613333pt;}
.x23{left:675.013333pt;}
.x11{left:678.213333pt;}
.x30{left:683.013333pt;}
.x10{left:694.373333pt;}
.x13{left:712.960000pt;}
.x8{left:715.520000pt;}
}
