.ff0{font-family:sans-serif;visibility:hidden;}
.sc_{text-shadow:none;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
}
.y8{bottom:6.500000px;}
.ya{bottom:7.000000px;}
.y7{bottom:7.500000px;}
.y6{bottom:8.000000px;}
.y2{bottom:8.500000px;}
.y5{bottom:9.000000px;}
.y3{bottom:9.500000px;}
.y4{bottom:10.000000px;}
.y9{bottom:10.500000px;}
.yb{bottom:11.000000px;}
.y0{bottom:12.000000px;}
.y1{bottom:21.500000px;}
.h1{height:768.000000px;}
.h2{height:770.000000px;}
.ha{height:771.000000px;}
.h5{height:772.000000px;}
.hc{height:772.500000px;}
.h4{height:773.000000px;}
.h6{height:774.000000px;}
.h3{height:775.000000px;}
.h7{height:776.000000px;}
.h8{height:777.000000px;}
.hb{height:778.000000px;}
.h9{height:779.000000px;}
.h0{height:792.000000px;}
.w1a{width:590.000000px;}
.w17{width:594.000000px;}
.w19{width:595.000000px;}
.w16{width:595.500000px;}
.w15{width:596.000000px;}
.wf{width:596.500000px;}
.w12{width:597.000000px;}
.w14{width:597.500000px;}
.w11{width:598.000000px;}
.w10{width:598.500000px;}
.we{width:599.000000px;}
.w13{width:599.500000px;}
.wd{width:600.000000px;}
.w5{width:600.500000px;}
.w8{width:601.000000px;}
.w18{width:601.500000px;}
.w3{width:602.000000px;}
.w6{width:602.500000px;}
.w2{width:603.000000px;}
.w4{width:603.500000px;}
.w7{width:604.000000px;}
.w9{width:604.500000px;}
.wb{width:605.000000px;}
.wa{width:606.000000px;}
.wc{width:608.000000px;}
.w1{width:609.500000px;}
.w0{width:612.000000px;}
.x0{left:1.500000px;}
.x1{left:4.500000px;}
.x2{left:6.000000px;}
.x3{left:7.500000px;}
.x4{left:11.000000px;}
@media print{
.y8{bottom:8.666667pt;}
.ya{bottom:9.333333pt;}
.y7{bottom:10.000000pt;}
.y6{bottom:10.666667pt;}
.y2{bottom:11.333333pt;}
.y5{bottom:12.000000pt;}
.y3{bottom:12.666667pt;}
.y4{bottom:13.333333pt;}
.y9{bottom:14.000000pt;}
.yb{bottom:14.666667pt;}
.y0{bottom:16.000000pt;}
.y1{bottom:28.666667pt;}
.h1{height:1024.000000pt;}
.h2{height:1026.666667pt;}
.ha{height:1028.000000pt;}
.h5{height:1029.333333pt;}
.hc{height:1030.000000pt;}
.h4{height:1030.666667pt;}
.h6{height:1032.000000pt;}
.h3{height:1033.333333pt;}
.h7{height:1034.666667pt;}
.h8{height:1036.000000pt;}
.hb{height:1037.333333pt;}
.h9{height:1038.666667pt;}
.h0{height:1056.000000pt;}
.w1a{width:786.666667pt;}
.w17{width:792.000000pt;}
.w19{width:793.333333pt;}
.w16{width:794.000000pt;}
.w15{width:794.666667pt;}
.wf{width:795.333333pt;}
.w12{width:796.000000pt;}
.w14{width:796.666667pt;}
.w11{width:797.333333pt;}
.w10{width:798.000000pt;}
.we{width:798.666667pt;}
.w13{width:799.333333pt;}
.wd{width:800.000000pt;}
.w5{width:800.666667pt;}
.w8{width:801.333333pt;}
.w18{width:802.000000pt;}
.w3{width:802.666667pt;}
.w6{width:803.333333pt;}
.w2{width:804.000000pt;}
.w4{width:804.666667pt;}
.w7{width:805.333333pt;}
.w9{width:806.000000pt;}
.wb{width:806.666667pt;}
.wa{width:808.000000pt;}
.wc{width:810.666667pt;}
.w1{width:812.666667pt;}
.w0{width:816.000000pt;}
.x0{left:2.000000pt;}
.x1{left:6.000000pt;}
.x2{left:8.000000pt;}
.x3{left:10.000000pt;}
.x4{left:14.666667pt;}
}
