.ff0{font-family:sans-serif;visibility:hidden;}
.sc_{text-shadow:none;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
}
.y7{bottom:4.000000px;}
.y3{bottom:4.500000px;}
.y6{bottom:5.000000px;}
.y2{bottom:5.500000px;}
.y4{bottom:6.000000px;}
.y5{bottom:6.500000px;}
.y8{bottom:7.000000px;}
.y0{bottom:11.000000px;}
.y1{bottom:21.500000px;}
.h1{height:770.000000px;}
.h8{height:778.000000px;}
.h5{height:779.000000px;}
.h4{height:780.000000px;}
.h9{height:780.500000px;}
.h2{height:781.000000px;}
.h6{height:782.000000px;}
.h3{height:783.000000px;}
.h7{height:784.000000px;}
.h0{height:792.000000px;}
.w1{width:609.500000px;}
.w3{width:611.000000px;}
.w2{width:611.500000px;}
.w0{width:612.000000px;}
.x1{left:0.000000px;}
.x0{left:1.500000px;}
@media print{
.y7{bottom:5.333333pt;}
.y3{bottom:6.000000pt;}
.y6{bottom:6.666667pt;}
.y2{bottom:7.333333pt;}
.y4{bottom:8.000000pt;}
.y5{bottom:8.666667pt;}
.y8{bottom:9.333333pt;}
.y0{bottom:14.666667pt;}
.y1{bottom:28.666667pt;}
.h1{height:1026.666667pt;}
.h8{height:1037.333333pt;}
.h5{height:1038.666667pt;}
.h4{height:1040.000000pt;}
.h9{height:1040.666667pt;}
.h2{height:1041.333333pt;}
.h6{height:1042.666667pt;}
.h3{height:1044.000000pt;}
.h7{height:1045.333333pt;}
.h0{height:1056.000000pt;}
.w1{width:812.666667pt;}
.w3{width:814.666667pt;}
.w2{width:815.333333pt;}
.w0{width:816.000000pt;}
.x1{left:0.000000pt;}
.x0{left:2.000000pt;}
}
