.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:0.906000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:0.904000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:0.959000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff4;src:url(f4.woff)format("woff");}.ff4{font-family:ff4;line-height:0.709000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff5;src:url(f5.woff)format("woff");}.ff5{font-family:ff5;line-height:0.892000;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.v0{vertical-align:0.000000px;}
.ls0{letter-spacing:0.000000px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
._1{margin-left:-1.026038px;}
._0{width:1.160327px;}
._8{width:8.258041px;}
._6{width:11.051009px;}
._3{width:12.789161px;}
._4{width:14.201865px;}
._7{width:19.303079px;}
._9{width:20.974781px;}
._2{width:24.595133px;}
._5{width:26.185679px;}
.fc1{color:rgb(191,191,191);}
.fc0{color:rgb(0,0,0);}
.fs2{font-size:38.760000px;}
.fs0{font-size:46.680000px;}
.fs1{font-size:78.000000px;}
.y0{bottom:0.000000px;}
.y1{bottom:104.500000px;}
.y22{bottom:118.160000px;}
.y21{bottom:129.439700px;}
.y20{bottom:140.599900px;}
.y1f{bottom:151.760100px;}
.y1e{bottom:162.919900px;}
.y1d{bottom:174.080100px;}
.y1c{bottom:185.360200px;}
.y1b{bottom:196.520000px;}
.y1a{bottom:222.920000px;}
.y19{bottom:270.319800px;}
.y18{bottom:281.599900px;}
.y17{bottom:292.760100px;}
.y16{bottom:304.039800px;}
.y15{bottom:315.200000px;}
.y13{bottom:338.480000px;}
.y14{bottom:339.320000px;}
.y12{bottom:373.520500px;}
.y11{bottom:386.960700px;}
.y10{bottom:400.400500px;}
.yf{bottom:413.840000px;}
.ye{bottom:505.280800px;}
.yd{bottom:518.720600px;}
.yc{bottom:532.160800px;}
.yb{bottom:545.480700px;}
.ya{bottom:558.920500px;}
.y9{bottom:612.920500px;}
.y8{bottom:626.360300px;}
.y7{bottom:639.800100px;}
.y6{bottom:653.239900px;}
.y5{bottom:693.560200px;}
.y4{bottom:707.000000px;}
.y3{bottom:720.439800px;}
.y2{bottom:747.200000px;}
.h7{height:26.666880px;}
.h3{height:32.115840px;}
.h4{height:32.629320px;}
.h5{height:34.589880px;}
.h6{height:53.898000px;}
.h2{height:371.500000px;}
.h9{height:611.000000px;}
.h8{height:612.000000px;}
.h4b{height:769.500000px;}
.h4a{height:769.560000px;}
.h42{height:770.000000px;}
.h41{height:770.160000px;}
.h39{height:770.500000px;}
.h3b{height:770.520000px;}
.h38{height:770.640000px;}
.h37{height:770.880000px;}
.h32{height:771.000000px;}
.h3a{height:771.120000px;}
.h4d{height:771.240000px;}
.h30{height:771.360000px;}
.h3d{height:771.480000px;}
.h10{height:771.500000px;}
.h35{height:771.600000px;}
.hf{height:771.720000px;}
.h25{height:771.840000px;}
.h40{height:771.960000px;}
.h26{height:772.000000px;}
.h2f{height:772.080000px;}
.h2b{height:772.200000px;}
.h2e{height:772.320000px;}
.h31{height:772.440000px;}
.h14{height:772.500000px;}
.h13{height:772.560000px;}
.h3c{height:772.680000px;}
.hd{height:772.800000px;}
.h33{height:772.920000px;}
.he{height:773.000000px;}
.h1c{height:773.040000px;}
.h1d{height:773.160000px;}
.h1a{height:773.280000px;}
.h36{height:773.400000px;}
.h16{height:773.500000px;}
.h29{height:773.520000px;}
.h15{height:773.640000px;}
.h17{height:773.760000px;}
.h11{height:773.880000px;}
.h12{height:774.000000px;}
.h43{height:774.120000px;}
.h27{height:774.240000px;}
.hb{height:774.360000px;}
.hc{height:774.500000px;}
.h34{height:774.600000px;}
.h28{height:774.720000px;}
.h20{height:774.840000px;}
.h46{height:774.960000px;}
.h19{height:775.000000px;}
.h18{height:775.080000px;}
.h1b{height:775.200000px;}
.h23{height:775.320000px;}
.h24{height:775.500000px;}
.h47{height:775.680000px;}
.h2a{height:775.800000px;}
.h1f{height:776.000000px;}
.h1e{height:776.160000px;}
.h4e{height:776.280000px;}
.h49{height:776.500000px;}
.h48{height:776.640000px;}
.h2c{height:776.760000px;}
.h2d{height:777.000000px;}
.h4c{height:777.360000px;}
.h3e{height:777.480000px;}
.h3f{height:777.500000px;}
.h45{height:778.000000px;}
.h44{height:778.200000px;}
.h21{height:778.320000px;}
.h22{height:778.500000px;}
.ha{height:791.000000px;}
.h0{height:792.000000px;}
.h1{height:842.000000px;}
.w2{width:456.000000px;}
.w45{width:589.500000px;}
.w44{width:589.680000px;}
.w1{width:595.000000px;}
.w3e{width:595.920000px;}
.w36{width:596.000000px;}
.w35{width:596.160000px;}
.w3c{width:596.400000px;}
.w3b{width:596.500000px;}
.w3a{width:596.640000px;}
.w39{width:596.880000px;}
.w32{width:597.000000px;}
.w31{width:597.120000px;}
.w43{width:597.240000px;}
.w2e{width:597.360000px;}
.w34{width:597.480000px;}
.w2f{width:597.500000px;}
.w30{width:597.600000px;}
.w33{width:597.840000px;}
.w42{width:597.960000px;}
.w29{width:598.000000px;}
.w28{width:598.080000px;}
.w40{width:598.200000px;}
.w2a{width:598.320000px;}
.w3d{width:598.440000px;}
.w26{width:598.500000px;}
.w25{width:598.560000px;}
.w2d{width:598.800000px;}
.w38{width:598.920000px;}
.w2c{width:599.000000px;}
.w2b{width:599.040000px;}
.w41{width:599.160000px;}
.w22{width:599.280000px;}
.w3f{width:599.400000px;}
.w23{width:599.500000px;}
.w27{width:599.520000px;}
.w37{width:599.640000px;}
.w24{width:599.760000px;}
.wc{width:600.000000px;}
.w1c{width:600.240000px;}
.w14{width:600.480000px;}
.w15{width:600.500000px;}
.w20{width:600.720000px;}
.w21{width:600.960000px;}
.w9{width:601.000000px;}
.w8{width:601.200000px;}
.w1d{width:601.440000px;}
.w11{width:601.500000px;}
.w10{width:601.680000px;}
.w16{width:601.920000px;}
.w17{width:602.000000px;}
.w18{width:602.160000px;}
.w6{width:602.400000px;}
.w7{width:602.500000px;}
.w1b{width:602.640000px;}
.wa{width:602.880000px;}
.wb{width:603.000000px;}
.wd{width:603.120000px;}
.we{width:603.840000px;}
.wf{width:604.000000px;}
.w19{width:604.800000px;}
.w1a{width:605.000000px;}
.w13{width:606.500000px;}
.w12{width:606.720000px;}
.w1f{width:608.500000px;}
.w1e{width:608.640000px;}
.w5{width:609.000000px;}
.w46{width:611.000000px;}
.w0{width:612.000000px;}
.w4{width:791.000000px;}
.w3{width:792.000000px;}
.x0{left:0.000000px;}
.x1{left:70.000000px;}
.x3{left:72.839000px;}
.x4{left:75.479000px;}
.xe{left:81.960200px;}
.xf{left:85.920200px;}
.x7{left:102.718800px;}
.x5{left:112.799000px;}
.x2{left:120.720000px;}
.x6{left:166.559000px;}
.xc{left:178.438580px;}
.xd{left:196.678780px;}
.x11{left:211.320000px;}
.xa{left:218.278880px;}
.x12{left:225.480000px;}
.x13{left:235.200000px;}
.x8{left:236.998800px;}
.x14{left:240.840000px;}
.xb{left:241.918680px;}
.x9{left:246.478880px;}
.x22{left:252.840000px;}
.x15{left:255.240000px;}
.x16{left:261.600000px;}
.x17{left:269.520000px;}
.x10{left:271.200200px;}
.x18{left:279.960000px;}
.x19{left:301.080000px;}
.x1a{left:307.560000px;}
.x1b{left:318.360000px;}
.x1c{left:331.800000px;}
.x1d{left:344.880000px;}
.x1e{left:355.800000px;}
.x1f{left:361.200000px;}
.x20{left:367.560000px;}
.x21{left:377.400000px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls0{letter-spacing:0.000000pt;}
.ws0{word-spacing:0.000000pt;}
._1{margin-left:-1.368050pt;}
._0{width:1.547102pt;}
._8{width:11.010722pt;}
._6{width:14.734679pt;}
._3{width:17.052215pt;}
._4{width:18.935820pt;}
._7{width:25.737438pt;}
._9{width:27.966375pt;}
._2{width:32.793511pt;}
._5{width:34.914239pt;}
.fs2{font-size:51.680000pt;}
.fs0{font-size:62.240000pt;}
.fs1{font-size:104.000000pt;}
.y0{bottom:0.000000pt;}
.y1{bottom:139.333333pt;}
.y22{bottom:157.546667pt;}
.y21{bottom:172.586267pt;}
.y20{bottom:187.466533pt;}
.y1f{bottom:202.346800pt;}
.y1e{bottom:217.226533pt;}
.y1d{bottom:232.106800pt;}
.y1c{bottom:247.146933pt;}
.y1b{bottom:262.026667pt;}
.y1a{bottom:297.226667pt;}
.y19{bottom:360.426400pt;}
.y18{bottom:375.466533pt;}
.y17{bottom:390.346800pt;}
.y16{bottom:405.386400pt;}
.y15{bottom:420.266667pt;}
.y13{bottom:451.306667pt;}
.y14{bottom:452.426667pt;}
.y12{bottom:498.027333pt;}
.y11{bottom:515.947600pt;}
.y10{bottom:533.867333pt;}
.yf{bottom:551.786667pt;}
.ye{bottom:673.707733pt;}
.yd{bottom:691.627467pt;}
.yc{bottom:709.547733pt;}
.yb{bottom:727.307600pt;}
.ya{bottom:745.227333pt;}
.y9{bottom:817.227333pt;}
.y8{bottom:835.147067pt;}
.y7{bottom:853.066800pt;}
.y6{bottom:870.986533pt;}
.y5{bottom:924.746933pt;}
.y4{bottom:942.666667pt;}
.y3{bottom:960.586400pt;}
.y2{bottom:996.266667pt;}
.h7{height:35.555840pt;}
.h3{height:42.821120pt;}
.h4{height:43.505760pt;}
.h5{height:46.119840pt;}
.h6{height:71.864000pt;}
.h2{height:495.333333pt;}
.h9{height:814.666667pt;}
.h8{height:816.000000pt;}
.h4b{height:1026.000000pt;}
.h4a{height:1026.080000pt;}
.h42{height:1026.666667pt;}
.h41{height:1026.880000pt;}
.h39{height:1027.333333pt;}
.h3b{height:1027.360000pt;}
.h38{height:1027.520000pt;}
.h37{height:1027.840000pt;}
.h32{height:1028.000000pt;}
.h3a{height:1028.160000pt;}
.h4d{height:1028.320000pt;}
.h30{height:1028.480000pt;}
.h3d{height:1028.640000pt;}
.h10{height:1028.666667pt;}
.h35{height:1028.800000pt;}
.hf{height:1028.960000pt;}
.h25{height:1029.120000pt;}
.h40{height:1029.280000pt;}
.h26{height:1029.333333pt;}
.h2f{height:1029.440000pt;}
.h2b{height:1029.600000pt;}
.h2e{height:1029.760000pt;}
.h31{height:1029.920000pt;}
.h14{height:1030.000000pt;}
.h13{height:1030.080000pt;}
.h3c{height:1030.240000pt;}
.hd{height:1030.400000pt;}
.h33{height:1030.560000pt;}
.he{height:1030.666667pt;}
.h1c{height:1030.720000pt;}
.h1d{height:1030.880000pt;}
.h1a{height:1031.040000pt;}
.h36{height:1031.200000pt;}
.h16{height:1031.333333pt;}
.h29{height:1031.360000pt;}
.h15{height:1031.520000pt;}
.h17{height:1031.680000pt;}
.h11{height:1031.840000pt;}
.h12{height:1032.000000pt;}
.h43{height:1032.160000pt;}
.h27{height:1032.320000pt;}
.hb{height:1032.480000pt;}
.hc{height:1032.666667pt;}
.h34{height:1032.800000pt;}
.h28{height:1032.960000pt;}
.h20{height:1033.120000pt;}
.h46{height:1033.280000pt;}
.h19{height:1033.333333pt;}
.h18{height:1033.440000pt;}
.h1b{height:1033.600000pt;}
.h23{height:1033.760000pt;}
.h24{height:1034.000000pt;}
.h47{height:1034.240000pt;}
.h2a{height:1034.400000pt;}
.h1f{height:1034.666667pt;}
.h1e{height:1034.880000pt;}
.h4e{height:1035.040000pt;}
.h49{height:1035.333333pt;}
.h48{height:1035.520000pt;}
.h2c{height:1035.680000pt;}
.h2d{height:1036.000000pt;}
.h4c{height:1036.480000pt;}
.h3e{height:1036.640000pt;}
.h3f{height:1036.666667pt;}
.h45{height:1037.333333pt;}
.h44{height:1037.600000pt;}
.h21{height:1037.760000pt;}
.h22{height:1038.000000pt;}
.ha{height:1054.666667pt;}
.h0{height:1056.000000pt;}
.h1{height:1122.666667pt;}
.w2{width:608.000000pt;}
.w45{width:786.000000pt;}
.w44{width:786.240000pt;}
.w1{width:793.333333pt;}
.w3e{width:794.560000pt;}
.w36{width:794.666667pt;}
.w35{width:794.880000pt;}
.w3c{width:795.200000pt;}
.w3b{width:795.333333pt;}
.w3a{width:795.520000pt;}
.w39{width:795.840000pt;}
.w32{width:796.000000pt;}
.w31{width:796.160000pt;}
.w43{width:796.320000pt;}
.w2e{width:796.480000pt;}
.w34{width:796.640000pt;}
.w2f{width:796.666667pt;}
.w30{width:796.800000pt;}
.w33{width:797.120000pt;}
.w42{width:797.280000pt;}
.w29{width:797.333333pt;}
.w28{width:797.440000pt;}
.w40{width:797.600000pt;}
.w2a{width:797.760000pt;}
.w3d{width:797.920000pt;}
.w26{width:798.000000pt;}
.w25{width:798.080000pt;}
.w2d{width:798.400000pt;}
.w38{width:798.560000pt;}
.w2c{width:798.666667pt;}
.w2b{width:798.720000pt;}
.w41{width:798.880000pt;}
.w22{width:799.040000pt;}
.w3f{width:799.200000pt;}
.w23{width:799.333333pt;}
.w27{width:799.360000pt;}
.w37{width:799.520000pt;}
.w24{width:799.680000pt;}
.wc{width:800.000000pt;}
.w1c{width:800.320000pt;}
.w14{width:800.640000pt;}
.w15{width:800.666667pt;}
.w20{width:800.960000pt;}
.w21{width:801.280000pt;}
.w9{width:801.333333pt;}
.w8{width:801.600000pt;}
.w1d{width:801.920000pt;}
.w11{width:802.000000pt;}
.w10{width:802.240000pt;}
.w16{width:802.560000pt;}
.w17{width:802.666667pt;}
.w18{width:802.880000pt;}
.w6{width:803.200000pt;}
.w7{width:803.333333pt;}
.w1b{width:803.520000pt;}
.wa{width:803.840000pt;}
.wb{width:804.000000pt;}
.wd{width:804.160000pt;}
.we{width:805.120000pt;}
.wf{width:805.333333pt;}
.w19{width:806.400000pt;}
.w1a{width:806.666667pt;}
.w13{width:808.666667pt;}
.w12{width:808.960000pt;}
.w1f{width:811.333333pt;}
.w1e{width:811.520000pt;}
.w5{width:812.000000pt;}
.w46{width:814.666667pt;}
.w0{width:816.000000pt;}
.w4{width:1054.666667pt;}
.w3{width:1056.000000pt;}
.x0{left:0.000000pt;}
.x1{left:93.333333pt;}
.x3{left:97.118667pt;}
.x4{left:100.638667pt;}
.xe{left:109.280267pt;}
.xf{left:114.560267pt;}
.x7{left:136.958400pt;}
.x5{left:150.398667pt;}
.x2{left:160.960000pt;}
.x6{left:222.078667pt;}
.xc{left:237.918107pt;}
.xd{left:262.238373pt;}
.x11{left:281.760000pt;}
.xa{left:291.038507pt;}
.x12{left:300.640000pt;}
.x13{left:313.600000pt;}
.x8{left:315.998400pt;}
.x14{left:321.120000pt;}
.xb{left:322.558240pt;}
.x9{left:328.638507pt;}
.x22{left:337.120000pt;}
.x15{left:340.320000pt;}
.x16{left:348.800000pt;}
.x17{left:359.360000pt;}
.x10{left:361.600267pt;}
.x18{left:373.280000pt;}
.x19{left:401.440000pt;}
.x1a{left:410.080000pt;}
.x1b{left:424.480000pt;}
.x1c{left:442.400000pt;}
.x1d{left:459.840000pt;}
.x1e{left:474.400000pt;}
.x1f{left:481.600000pt;}
.x20{left:490.080000pt;}
.x21{left:503.200000pt;}
}
