.ff0{font-family:sans-serif;visibility:hidden;}
.sc_{text-shadow:none;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
}
.yc{bottom:3.500000px;}
.yb{bottom:4.500000px;}
.y7{bottom:5.500000px;}
.y6{bottom:6.000000px;}
.y4{bottom:6.500000px;}
.y8{bottom:7.000000px;}
.y9{bottom:7.500000px;}
.y3{bottom:8.000000px;}
.y2{bottom:8.500000px;}
.y5{bottom:9.000000px;}
.ya{bottom:9.500000px;}
.ye{bottom:10.000000px;}
.y0{bottom:10.500000px;}
.y1{bottom:21.500000px;}
.yd{bottom:31.500000px;}
.hf{height:760.000000px;}
.h2{height:770.000000px;}
.h11{height:772.000000px;}
.h1{height:772.500000px;}
.hc{height:773.000000px;}
.h10{height:773.500000px;}
.h6{height:774.000000px;}
.h3{height:775.000000px;}
.h4{height:776.000000px;}
.ha{height:777.000000px;}
.h9{height:778.000000px;}
.hb{height:778.500000px;}
.h5{height:779.000000px;}
.h7{height:780.000000px;}
.h8{height:781.000000px;}
.hd{height:783.000000px;}
.he{height:785.000000px;}
.h0{height:792.000000px;}
.w17{width:598.500000px;}
.w18{width:599.000000px;}
.w15{width:599.500000px;}
.w16{width:600.000000px;}
.w12{width:600.500000px;}
.w14{width:601.000000px;}
.w13{width:601.500000px;}
.w10{width:602.000000px;}
.wf{width:602.500000px;}
.wd{width:603.000000px;}
.wb{width:603.500000px;}
.wc{width:604.000000px;}
.w9{width:604.500000px;}
.wa{width:605.000000px;}
.we{width:605.500000px;}
.w7{width:606.000000px;}
.w2{width:606.500000px;}
.w3{width:607.000000px;}
.w4{width:607.500000px;}
.w6{width:608.000000px;}
.w11{width:608.500000px;}
.w1{width:609.500000px;}
.w5{width:610.000000px;}
.w8{width:611.000000px;}
.w0{width:612.000000px;}
.x2{left:0.000000px;}
.x0{left:1.500000px;}
.x1{left:3.000000px;}
.x3{left:4.500000px;}
.x4{left:6.000000px;}
@media print{
.yc{bottom:4.666667pt;}
.yb{bottom:6.000000pt;}
.y7{bottom:7.333333pt;}
.y6{bottom:8.000000pt;}
.y4{bottom:8.666667pt;}
.y8{bottom:9.333333pt;}
.y9{bottom:10.000000pt;}
.y3{bottom:10.666667pt;}
.y2{bottom:11.333333pt;}
.y5{bottom:12.000000pt;}
.ya{bottom:12.666667pt;}
.ye{bottom:13.333333pt;}
.y0{bottom:14.000000pt;}
.y1{bottom:28.666667pt;}
.yd{bottom:42.000000pt;}
.hf{height:1013.333333pt;}
.h2{height:1026.666667pt;}
.h11{height:1029.333333pt;}
.h1{height:1030.000000pt;}
.hc{height:1030.666667pt;}
.h10{height:1031.333333pt;}
.h6{height:1032.000000pt;}
.h3{height:1033.333333pt;}
.h4{height:1034.666667pt;}
.ha{height:1036.000000pt;}
.h9{height:1037.333333pt;}
.hb{height:1038.000000pt;}
.h5{height:1038.666667pt;}
.h7{height:1040.000000pt;}
.h8{height:1041.333333pt;}
.hd{height:1044.000000pt;}
.he{height:1046.666667pt;}
.h0{height:1056.000000pt;}
.w17{width:798.000000pt;}
.w18{width:798.666667pt;}
.w15{width:799.333333pt;}
.w16{width:800.000000pt;}
.w12{width:800.666667pt;}
.w14{width:801.333333pt;}
.w13{width:802.000000pt;}
.w10{width:802.666667pt;}
.wf{width:803.333333pt;}
.wd{width:804.000000pt;}
.wb{width:804.666667pt;}
.wc{width:805.333333pt;}
.w9{width:806.000000pt;}
.wa{width:806.666667pt;}
.we{width:807.333333pt;}
.w7{width:808.000000pt;}
.w2{width:808.666667pt;}
.w3{width:809.333333pt;}
.w4{width:810.000000pt;}
.w6{width:810.666667pt;}
.w11{width:811.333333pt;}
.w1{width:812.666667pt;}
.w5{width:813.333333pt;}
.w8{width:814.666667pt;}
.w0{width:816.000000pt;}
.x2{left:0.000000pt;}
.x0{left:2.000000pt;}
.x1{left:4.000000pt;}
.x3{left:6.000000pt;}
.x4{left:8.000000pt;}
}
