.ff0{font-family:sans-serif;visibility:hidden;}
.sc_{text-shadow:none;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
}
.y4{bottom:7.500000px;}
.y3{bottom:8.500000px;}
.y0{bottom:9.000000px;}
.y2{bottom:9.500000px;}
.y1{bottom:10.000000px;}
.y5{bottom:10.500000px;}
.h6{height:771.000000px;}
.h2{height:772.000000px;}
.h3{height:773.000000px;}
.h1{height:774.000000px;}
.h4{height:775.000000px;}
.h5{height:777.000000px;}
.h0{height:792.000000px;}
.w4{width:596.500000px;}
.w7{width:598.000000px;}
.w5{width:598.500000px;}
.w1{width:599.000000px;}
.w2{width:600.000000px;}
.w6{width:600.500000px;}
.w3{width:601.000000px;}
.w8{width:602.000000px;}
.w0{width:612.000000px;}
.x1{left:4.500000px;}
.x0{left:6.500000px;}
@media print{
.y4{bottom:10.000000pt;}
.y3{bottom:11.333333pt;}
.y0{bottom:12.000000pt;}
.y2{bottom:12.666667pt;}
.y1{bottom:13.333333pt;}
.y5{bottom:14.000000pt;}
.h6{height:1028.000000pt;}
.h2{height:1029.333333pt;}
.h3{height:1030.666667pt;}
.h1{height:1032.000000pt;}
.h4{height:1033.333333pt;}
.h5{height:1036.000000pt;}
.h0{height:1056.000000pt;}
.w4{width:795.333333pt;}
.w7{width:797.333333pt;}
.w5{width:798.000000pt;}
.w1{width:798.666667pt;}
.w2{width:800.000000pt;}
.w6{width:800.666667pt;}
.w3{width:801.333333pt;}
.w8{width:802.666667pt;}
.w0{width:816.000000pt;}
.x1{left:6.000000pt;}
.x0{left:8.666667pt;}
}
