.ff0{font-family:sans-serif;visibility:hidden;}
.sc_{text-shadow:none;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
}
.y0{bottom:0.000000px;}
.h0{height:612.000000px;}
.hd{height:777.500000px;}
.hc{height:777.600000px;}
.ha{height:784.800000px;}
.hb{height:785.000000px;}
.h4{height:788.400000px;}
.h5{height:788.500000px;}
.h6{height:788.640000px;}
.h1{height:792.000000px;}
.h9{height:957.500000px;}
.h8{height:957.600000px;}
.h7{height:972.000000px;}
.h3{height:990.500000px;}
.h2{height:990.720000px;}
.w2{width:590.400000px;}
.w3{width:590.500000px;}
.w16{width:594.000000px;}
.w15{width:594.140000px;}
.w13{width:604.800000px;}
.w14{width:605.000000px;}
.w4{width:734.400000px;}
.w5{width:734.500000px;}
.we{width:738.000000px;}
.wd{width:738.140000px;}
.wf{width:748.800000px;}
.w10{width:749.000000px;}
.w0{width:806.400000px;}
.w1{width:806.500000px;}
.wc{width:1173.500000px;}
.wb{width:1173.600000px;}
.w6{width:1180.800000px;}
.w7{width:1181.000000px;}
.w8{width:1188.000000px;}
.w9{width:1189.440000px;}
.wa{width:1189.500000px;}
.w12{width:1206.000000px;}
.w11{width:1206.140000px;}
.x0{left:0.000000px;}
@media print{
.y0{bottom:0.000000pt;}
.h0{height:816.000000pt;}
.hd{height:1036.666667pt;}
.hc{height:1036.800000pt;}
.ha{height:1046.400000pt;}
.hb{height:1046.666667pt;}
.h4{height:1051.200000pt;}
.h5{height:1051.333333pt;}
.h6{height:1051.520000pt;}
.h1{height:1056.000000pt;}
.h9{height:1276.666667pt;}
.h8{height:1276.800000pt;}
.h7{height:1296.000000pt;}
.h3{height:1320.666667pt;}
.h2{height:1320.960000pt;}
.w2{width:787.200000pt;}
.w3{width:787.333333pt;}
.w16{width:792.000000pt;}
.w15{width:792.186667pt;}
.w13{width:806.400000pt;}
.w14{width:806.666667pt;}
.w4{width:979.200000pt;}
.w5{width:979.333333pt;}
.we{width:984.000000pt;}
.wd{width:984.186667pt;}
.wf{width:998.400000pt;}
.w10{width:998.666667pt;}
.w0{width:1075.200000pt;}
.w1{width:1075.333333pt;}
.wc{width:1564.666667pt;}
.wb{width:1564.800000pt;}
.w6{width:1574.400000pt;}
.w7{width:1574.666667pt;}
.w8{width:1584.000000pt;}
.w9{width:1585.920000pt;}
.wa{width:1586.000000pt;}
.w12{width:1608.000000pt;}
.w11{width:1608.186667pt;}
.x0{left:0.000000pt;}
}
